@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.project-page {
    opacity: 0;
    transform: translateY(-100%);
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }